.session-form {
    
}

h3.line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    line-height: 0.1em;
    margin: 10px 0 0;
    span {
        background-color: white;
        padding: 10px 10px;
    }
}