form.session-form {
    input {
        @include form-input;
        width: 330px;
        margin: 15px 0px 15px 0px;
        border-radius: 5px;
    }
}

.process {
    @include dark-button;
}

.form-errors {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 15px;
    font-style: italic;
}

h3.line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    line-height: 0.1em;
    margin: 15px 0 0;
    span {
        background-color: white;
        padding: 10px;
    }
}

.session-errors {
    color: #cc2626;
}

.terms-text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    text-align: left;
}