.cart-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100vw;
    .cart {
        width: 50%;
        list-style: none;
        .cart-items-shopping {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                font-size: 35px;
                font-family: $sec-font;
            }
        }
        .cart-item {
            margin: 40px 0;
            .cart-shop-name {
                font-weight: 500;
                font-size: 16px;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            img {
                width: 15vw;
                height: 26vh;
                object-fit: cover;
                display: block;
                float: left;
                border-radius: 7px;
                margin-right: 20px;
                margin-bottom: 40px;
            }
            .cart-item-info {
                line-height: 28px;
                font-weight: 300;
                letter-spacing: 0.5px;
                display: flex;
                justify-content: space-between;
                .cart-item-title {
                    &:hover {
                        text-decoration: underline;
                    }
                }
                button {
                    @include white-button;
                }
                .cart-quantity {
                    select {
                        @include form-input;
                        margin: 5px 0;
                        padding-right: 10px;
                        width: 120%;
                        height: 45px;
                        border-radius: 5px;
                        box-shadow: 0 0 5px $lightest-gray;
                        &:hover {
                            box-shadow: 0 0 5px #d4d4d4;
                        }
                    }
                }
            }
            .cart-item-option {
                font-size: 13px;
            }
            .cart-item-title-option {
                width: 50%;
            }
            .cart-item-price {
                font-weight: 500;
            }
            .cart-item-price-each {
                font-size: 14px;
                color: $lighter-gray;
            }
        }
    }
    .keep-shopping {
        @include white-button;
        white-space: nowrap;
        width: 140px;
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
    }
    .payment {
        width: 80%;
        border-radius: 20px;
        box-shadow: 0 6px 15px rgba(0,0,0,0.2);
        padding: 20px;
        h3 {
            font-weight: 500;
            padding-bottom: 15px;
        }
        .payment-method {
            display: flex;
            align-items: center;
            input {
                cursor: pointer;
                opacity: 0;
                position: absolute;
            }
            label {
                cursor: pointer;
                position: relative;
                padding-left: 35px;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 16px;
                    height: 16px;
                    border: 2px solid #ddd;
                    border-radius: 100%;
                    background-color: #fff;
                    margin-top: 8px;
                }
            }
            .paypal {
                border-radius: 5px;
                border: 1px solid #d1d1d1;
                margin-left: 2px;
            }
            .klarna-payment {
                display: flex;
                align-items: center;
                .klarna {
                    border-radius: 5px;
                    margin-left: 2px;
                }
                span {
                    margin-left: 5px;
                    font-size: 13px;
                    font-weight: 300;
                }
            }
            [type="radio"]:checked + label:after {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                background-color: #bbdae7;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                transition: all 0.2s ease-in;
                margin-top: 8px;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                transform: scale(1);
            }
        
        }
        .total-fee {
            div:first-child {
                margin-bottom: 15px;
            }
            .payment-items-total {
                display: flex;
                justify-content: space-between;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                .free-shipping {
                    color: #44833f;
                }
            }
            .shipping-destination {
                font-size: 13px;
                font-weight: 300;
                letter-spacing: 0.25px;
                display: inline-block;
                line-height: 16px;
                padding-top: 5px;
                color: #575757;
            }
            .total-amount {
                font-weight: 500;
                margin-top: 15px;
            }
        }
        button {
            @include dark-button;
            width: 100%;
        }
        button.shopping {
            @include white-button;
            background-color: #ffffff;
            color: $color;
            border: 2px solid #eeeeee;
            width: 180px;
            white-space: nowrap;
        }
    }
}

hr.cart-item-divider {
    clear: left;
    height: 1px;
    background-color: #d1d1d1;
    border: none;
}


.payment-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 30%;
}

.cart-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    .cart-modal-close {
        position: absolute;
        right: 0;
        top: -50px;
        font-size: 40px;
        color: #ffffff;
        &:hover {
            cursor: pointer;
        }
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            right: -9px;
            top: 0px;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            background-color: rgba(214, 214, 214, 0.3);
            transform: scale(0);
            transition: ease-in 0.2s;
        }
        &:hover:after {
            transform: scale(1);
        }
    }
    h3 {
        font-size: 24px;
        font-weight: 400;
        font-family: $sec-font;
    }
}