@import './variables.scss';
@import './mixins.scss';

button {
    width: 80px;
    height: 38px;
    border-radius: 30px;
    border: 2px solid $color;
    font-family: $font;
    font-size: $font-size;
    color: $color;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
    transition: ease 0.2s;
    &:hover {
        transform: scale(1.02) perspective(4px);
        font-size: $font-size;
        box-shadow: $shadow;
    }
}

a {
    text-decoration: none;
    color: $color;
}