@mixin form-input {
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 10px 5px 10px 10px;
    border: 1px solid #dbdbdb;
    box-shadow: inset 0px 0px 2px hsl(0, 0%, 86%);
    transition: ease-in 0.2s;
    font-weight: 200;
    &::placeholder {
        color: $light-gray;
    }
    &:hover {
        border-color: $light-gray;
    }
    &:focus {
        outline: none;
        border-color: $color;
        color: $color;
    }
}

@mixin search-bar {
    height: 42px;
}

@mixin search-bar-input {
    @include form-input;
    width: 550px;
    height: 20px;
    border-radius: 30px;
    padding-right: 40px;
}

@mixin search-button {
    border-radius: 0 30px 30px 0;
    width: 50px;
    height:42px;
    margin-left: -50px;
    padding-top: 5px;
    border: none;
    font-size: 17px;
    &:hover {
        transform: none;
        background-color: $color;
        color: #ffffff;
    }
}

@mixin page-header {
    font-family: $sec-font;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    background-color: $yellow-background;
    height: 150px;
    padding-top: 35px;
}

@mixin splash-header {
    font-family: $sec-font;
    font-size: 45px;
    text-align: center;
}

@mixin dark-button {
    background-color: $color;
    color: white;
    border: none;
    height: 45px;
    transition: ease-in 0.15s;
    &:hover{
        background-color: rgb(47, 47, 47);
    }
}

@mixin white-button {
    border: none;
    &:hover {
        transform: none;
        box-shadow: none;
        background-color: $lightest-gray;
    }
}

@mixin display-splash-item {
    margin: 0 5px;
    width: 16vw;
    height: 26vh;
    border-radius: 10px;
    transition: $transition;
    position: relative;
    &:hover {
        box-shadow: $splash-item-shadow;
    }
}

@mixin display-splash-item-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@mixin display-splash-item-price-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

@mixin display-splash-item-price {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    background: #ffffff;
    padding: 5px 7px;
    border-radius: 20px;
    border: 1px solid $lightest-gray;
    margin-left: 10px;
    margin-bottom: 10px;
}