@mixin form-input {
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 10px 5px 10px 10px;
    border: 1px solid #dbdbdb;
    box-shadow: inset 0px 0px 2px #dbdbdb;
    transition: ease-in 0.2s;
    &::placeholder {
        color: $light-gray;
    }
    &:hover {
        border-color: $light-gray;
    }
    &:focus {
        outline: none;
        border-color: $color;
        color: $color;
    }
}

@mixin search-bar {
    height: 42px;
}

@mixin search-bar-input {
    @include form-input;
    width: 550px;
    height: 20px;
    border-radius: 30px;
    padding-right: 40px;
}

@mixin search-button {
    border-radius: 0 30px 30px 0;
    width: 50px;
    height:42px;
    margin-left: -50px;
    padding-top: 4px;
    border: none;
    font-size: 17px;
    &:hover {
        transform: none;
        background-color: $color;
        color: #ffffff;
    }
}

@mixin page-header {
    font-family: $sec-font;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    background-color: $yellow-background;
    height: 180px;
    padding-top: 35px;
    border-top: 2px solid rgb(222, 222, 222);
}