@import './fonts.scss';

$font: 'Inter', sans-serif;
$sec-font: 'Gilda Display', serif;
$font-size: 14px;
$font-weight: 300;
$color: #222222;
$lighter-gray: #525252;
$light-gray: #979797;
$lightest-gray: #efefef;
$yellow-border: #e4d5ba;
$yellow-background: #faecd5;
$shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
$splash-item-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
$transition: ease-in 0.1s;

body {
    font-family: $font;
}