.nav-bar {
    width: 100%;
    margin: 10px 0 5px 0;
    font-weight: $font-weight;
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li button {
            border: none;
            &:hover {
                transform: none;
                box-shadow: none;
                background-color: $lightest-gray;
            }
        }
        .cart {
            font-size: 25px;
            padding-top: 7px;
            width: 38px;   
        }
    }
    ul.bottom-nav {
        font-size: 14px;
        padding-bottom: 10px;
    }
}