.popular-items-list {
    margin-top: 160px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #dfeae3;
    .popular-item-header {
        @include splash-header;
        width: 40%;
        margin: 30px 0;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        width: 100%;
        li {
            margin: 20px 10px;
            position: relative;
            max-width: 7%;
            height: 240px;
            border-radius: 20px;
            transition: ease-in-out 0.3s;
            .popular-item {
                @include display-splash-item-image;
                border-radius: 20px;
                opacity: 0.75;
                transition: ease-in-out 0.3s;
            }
            .splash-item-price-container {
                @include display-splash-item-price-container;
                .splash-item-price {
                    @include display-splash-item-price;
                }
            }
            .splash-item-popularity-container {
                position: absolute;
                top: 0;
                right: 0;
                .splash-item-popularity {
                    display: inline-block;
                    font-size: 7vw;
                    font-weight: 500;
                    color: rgba(55, 61, 55, 0.3);
                }
            }
            &:hover {
                box-shadow: $splash-item-shadow;
                max-width: 350px;
                .popular-item {
                    max-height: 240px;
                    opacity: 1;
                }
            }
        }
    }
}