.popular-items-list {
    margin-top: 130px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #dfeae3;
    .popular-item-header {
        @include splash-header;
        width: 40%;
        margin: 30px 0 10px 0;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        width: 100%;
        li {
            margin: 20px 10px;
            position: relative;
            max-width: 7%;
            height: 240px;
            border-radius: 20px;
            transition: ease-in-out 0.3s;
            text-align: left;
            .popular-item {
                @include display-splash-item-image;
                opacity: 0.75;
                transition: ease-in-out 0.3s;
            }
            .splash-item-price-container {
                @include display-splash-item-price-container;
                width: 100%;
                .splash-item-price {
                    @include display-splash-item-price;
                }
            }
            .splash-item-popularity-container {
                position: absolute;
                top: 0;
                right: 0;
                .splash-item-popularity {
                    display: inline-block;
                    font-size: 5vw;
                    font-family: $sec-font;
                    font-weight: 500;
                    color: rgba(59, 59, 59, 0.3);
                    transition: $transition;
                }
            }
            &:first-child {
                max-width: 30%;
            }
            &:hover {
                box-shadow: $splash-item-shadow;
                .popular-item {
                    max-height: 240px;
                    opacity: 1;
                }
                .splash-item-popularity {
                    color: rgba(59, 59, 59, 0.6)
                }
            }
        }
    }
}