@import '../navigation/nav-bar.scss';
@import '../navigation/footer.scss';
@import './welcome.scss';
@import './splash-category.scss';
@import './popular-items.scss';
@import './artisty-container.scss';
@import './splash-grid.scss';

.artisty {
    font-size: 35px;
    font-family: $sec-font;
    color: #e06c35;
    a {
        text-decoration: none;
    }
}

.splash-header {
    @include splash-header;
    margin-top: 100px;
    margin-bottom: 20px;
}

.our-picks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-splash-text {
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
    margin-left: 1%;
}

.splash-fanart-container {
    margin-top: 100px;
    margin-left: 7%;
    margin-right: 7%;

    .left-splash-text {
        margin-bottom: 20px;

        .splash-fanart-arrow {
            font-size: 16px;
            margin-left: 10px;
            transition: ease-out 0.1s;
        }
    
        .splash-fanart-description {
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
            letter-spacing: 0.5px;
            color: $lighter-gray;
        }

        a {
            &:hover {
                cursor: pointer;
                .splash-fanart-arrow {
                    margin-left: 20px;
                }
            }
        }
    }
}

.random-items {
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
        margin-right: 1%;
        .splash-item {
            @include display-splash-item;
            .splash-item-image {
                @include display-splash-item-image;
            }
            .splash-item-price-container {
                @include display-splash-item-price-container;
                .splash-item-price {
                    @include display-splash-item-price;
                }
            }
        }
    }
}

.splash-fanart-items {
    display: flex;
    justify-content: space-around;
    ul {
        display: flex;
        li {
            @include display-splash-item;
            width: 20vw;
            height: 30vh;
            border-radius: 20px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            .splash-category-image {
                @include display-splash-item-image;
                border-radius: 10px 10px 0 0;
                height: 80%;
            }
            .splash-item-information {
                @include item-description;
                padding: 14px 15px 0 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .splash-item-title {
                    display: inline-block;
                }
            }
            &:hover {
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
            }
        }
    }
}