@import '../navigation/nav-bar.scss';
@import '../navigation/footer.scss';
@import './welcome.scss';
@import './splash-category.scss';

.artisty {
    font-size: 35px;
    font-family: $sec-font;
    color: rgb(224, 108, 53);
    a {
        text-decoration: none;
    }
}

.splash-header {
    margin-top: 180px;
    font-family: $sec-font;
    font-size: 45px;
    text-align: center;
}

.our-picks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-splash-text {
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
    margin-left: 1%;
}

.splash-fanart-container {
    margin: 80px 0 40px 20px;
    .splash-fanart-arrow {
        font-size: 20px;
        margin-left: 10px;
    }
    .splash-fanart-description {
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        color: $lighter-gray;
    }
}

.random-items {
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
        margin-right: 1%;
        .splash-item {
            @include display-splash-item;
            .splash-item-image {
                @include display-splash-item-image;
            }
            .splash-item-price-container {
                @include display-splash-item-price-container;
                .splash-item-price {
                    @include display-splash-item-price;
                }
            }
        }
    }
}

.splash-fanart-items {
    display: flex;
    justify-content: space-around;
    ul {
        display: flex;
        li {
            @include display-splash-item;
            width: 22vw;
            height: 35vh;
            border-radius: 20px;
            .splash-category-image {
                @include display-splash-item-image;
                border-radius: 20px;
            }
            .splash-category-price-container {
                @include display-splash-item-price-container;
                .splash-category-price {
                    @include display-splash-item-price;
                }
            }
        }
    }
}