.welcome {
    @include page-header;
    a {
        color: $color;
        transition: ease-in 0.2s;
        padding-bottom: 1px;
        text-decoration: 2px solid underline;
        &:hover {
            color: rgb(142, 135, 124);
        }
    }
}