@import './category-show.scss';

.category-header {
    @include page-header;
    text-align: left;
    font-size: 30px;
    height: 100px;
    background-color: #f6ebe7;
    padding-left: 5%;
}

.category-index-categories {
    margin-left: 30vw;
    position: relative;
    ul {
        width: 60vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        z-index: 2;
        margin-top: -120px;
        position: absolute;
    }
}

.category-index-item {
    margin: 30px 40px;
    width: 180px;
    height: 180px;
    cursor: pointer;
    .category-picture {
        background: #ffffff;
        .category-index-image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .category-index-title {
        display: inline-block;
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
        width: 100%;
    }
    &:hover {
        a {
            text-decoration: underline;
            color: $light-gray;
        }
    }
}

.category-content {
    height: 100vh;
}