.category-description {
    margin-top: 20px;
    font-family: $font;
    font-weight: 300;
    font-size: 16px;
    color: $lighter-gray;
}

.item-list-header {
    @include splash-header;
    font-size: 35px;
}