@import '../reviews/review.scss';
@import './carousel.scss';

.item-show-container {
    height: 100%;
    display: block;
    font-size: 14px;
}

.item-show-page {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 60px;
}

.left-item-column {
    display: block;
    z-index: 1;
    margin-right: 40px;
}

.right-item-column {
    line-height: 30px;
    width: 22%;
    .item-show-shop {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.5px;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .price-in-stock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .in-stock {
            display: flex;
            align-items: center;
        }
        span {
            display: inline-block;
            line-height: 14px;
            font-weight: 500;
        }
        .item-checkmark {
            font-size: 20px;
            padding-right: 4px;
        }
    }
    h1 {
        font-family: $sec-font;
        font-size: 30px;
    }
    .item-show-price {
        font-size: 30px;
        font-weight: 500;
        display: inline-block;
        padding: 25px 0;
    }
    .request-form {
        display: inline;
        label {
            font-weight: 300;
        }
        select {
            @include form-input;
            margin: 5px 0;
            padding-right: 10px;
            width: 100%;
            height: 45px;
            border-radius: 5px;
            box-shadow: 0 0 5px $lightest-gray;
            &:hover {
                box-shadow: 0 0 5px #d4d4d4;
            }
        }
        button {
            @include dark-button;
            width: 100%;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .item-desc-toggler {
        @include white-button;
        background-color: #ffffff;
        font-size: 16px;
        width: 100%;
        height: 45px;
        .down-arrow {
            padding-left: 65%;
        }
    }
    .item-desc {
        margin: 10px 0 0 23px;
        font-size: 16px;
        font-weight: 300;
    }
}