@import '../reviews/review.scss';

.item-show-container {
    height: 100%;
    display: block;
    font-size: 14px;
}

.item-show-page {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 60px;
}

.carousel-container {
    position: relative;
    margin: auto;
}

.thumbnail-image {

}

.item-image {
    width: 50vw;
    height: 70vh;
    object-fit: contain;
}

.left-item-column {
    display: block;
    z-index: 1;
}

.right-item-column {
    line-height: 30px;
    width: 28%;
    h1 {
        font-family: $sec-font;
        font-size: 30px;
    }
    .item-show-price {
        font-size: 26px;
        font-weight: 500;
        display: inline-block;
        padding: 15px 0;
    }
    .request-form {
        display: inline;
        label {
            font-weight: 300;
        }
        select {
            @include form-input;
            margin: 5px 0;
            padding-right: 10px;
            width: 100%;
            height: 45px;
            border-radius: 5px;
            box-shadow: 0 0 5px $lightest-gray;
            &:hover {
                box-shadow: 0 0 5px #d4d4d4;
            }
        }
        button {
            @include dark-button;
            width: 100%;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .item-desc-toggler {
        @include white-button;
        background-color: #ffffff;
        font-size: 16px;
        width: 100%;
        height: 45px;
        .down-arrow {
            padding-left: 65%;
        }
    }
    .item-desc {
        margin: 10px 0 0 23px;
        font-size: 16px;
        font-weight: 300;
    }
}