@import '../reviews/review.scss';

.item-show-container {
    height: 100%;
    display: block;
}

.item-show-page {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 20px;
}

.carousel-container {
    
    position: relative;
    margin: auto;
}

.thumbnail-image {

}

.item-image {
    width: 45vw;
    height: 60vh;
    object-fit: cover;
}

.left-item-column {
    display: block;
    z-index: 1;
}

.right-item-column {
    line-height: 30px;
    width: 30%;
    h1 {
        font-family: $sec-font;
        font-size: 25px;
    }
}