#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 500px;
    z-index: 1;
    border-radius: 10%;
    background-color: white;
    color: rgb(34, 34, 34);
    overflow: auto;
}

#modal-display {
    display: block;
}

#modal .content {
    display: flex;
    text-align: center;
    padding: 15px;
}