footer { 
    bottom: 0;
    width: 100%;
    position: relative;
    a {
        color: #ffffff;
        &:hover {
            text-decoration: underline;
        }
    }
    .middle {
        display: flex;
        justify-content: space-around;
        position: relative;
        color: #ffffff;
        font-size: 16px;
        padding: 35px;
        line-height: 30px;
        background-color: #334669;
        ul li b {
            font-size: 16px;
            margin-bottom: 10px;
        }
        ul li {
            font-size: 13px;
            font-weight: 300;
        }
    }
    .bottom {
        width: 100%;
        height: 80px;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 13px;
        background-color: #222344;
        position: absolute;
        .currency {
            padding-left: 80px;
            letter-spacing: 0.5px;
        }
        a {
            text-decoration: underline;
        }
        .self-info {
            padding-right: 80px;
            ul li {
                display: inline;
                padding-right: 20px;
            }
        }
    }
    
}

.contact-icons {
    font-size: 30px;
    letter-spacing: 7px;
}