@import './search-bar.scss';

.nav-bar {
    width: 100%;
    font-weight: $font-weight;
    ul.top-nav {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li button {
            border: none;
            &:hover {
                transform: none;
                box-shadow: none;
                background-color: $lightest-gray;
            }
        }
        .cart {
            font-size: 25px;
            padding-top: 7px;
            width: 38px;   
        }
    }
    ul.bottom-nav {
        display: flex;
        justify-content: space-evenly;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        font-family: $font;
        text-align: center;
        padding-top: 3px;
        border-bottom: 2px solid rgb(222, 222, 222);
        
        a.nav-bar-link {
            display:inline-block;
            margin: 0;
            &:after {
                content: '';
                display: block;
                padding-bottom: 16px;
                border-bottom: 2px solid $color;
                transform: scaleX(0);
                transition: transform ease-in-out 0.2;
            }
            &:hover:after {
                transform: scaleX(1);
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.hide-label {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}