.not-found-background {
    width: 100%;
    height: 100vh;
    background-color: $yellow-background;
    .not-found-bar {
        padding: 10px 0 10px 20px;
        background-color: #ffffff;
    }
    .page-not-found {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 50px;
        width: 100%;
        h1 {
            font-family: $sec-font;
            font-size: 35px;
            padding-bottom: 25px;
        }
        .searchbar {
            display: flex;
            margin: 10px 0;
            transition: ease-in 0.1s;
            input {
                @include search-bar;
                width: 40%;
            }

            button {
                @include search-button;
            }
        }

        a {
            .redirect-arrow-left {
                font-size: 12px;
                font-weight: 600;
                margin-right: 8px;
                transition: cubic-bezier(0.23, 1, 0.320, 1) 0.3s;
            }
            &:hover {
                color: rgb(116, 106, 90);
                .redirect-arrow-left {
                    margin-left: -10px;
                    margin-right: 18px;
                }
            }
        }
    }
}

